body,
html,
* {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 429px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.site-title {
  display: flex;
  gap: 5px;
}

.navbar {
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.75rem;
}

.navbar a:hover {
  border-bottom: 1px solid black;
}

.hero {
  background-image: url("../images/article-image-hero.png");
  background-size: cover;
  height: 40vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  padding: 0 20px 25px 20px;
}

.date {
  font-size: 0.75rem;
  margin: 14px 0 9px 0;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
}

.hero-desc {
  max-width: 374px;
  font-size: 1rem;
}

#view-more {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 40px;
}

.btn {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

.article-listing {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 429px;
  background-color: #fff;
}

.blog-card a {
  text-decoration: none;
  color: #000;
}

.blog-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 9px;
}

.blog-desc {
  max-width: 329px;
  height: 105px;
}

footer {
  background-color: #202020;
  height: 12vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

#footer-copyright {
  font-size: 0.75rem;
  margin-bottom: 5px;
  font-weight: 100;
}

footer p {
  font-size: 0.75rem;
}
